.App {
  text-align: center;
}
.avatar{
  height: 200px;
  width: 100%;
  margin: 0;
}
.users-container{
  display: flex;
}
.user-card{
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
}